.batch-delete{
    padding:6px;
    border-radius:5px;
    border:1px solid #91D5FF;
    background:#E6F7FF;
    margin-bottom:10px;
}
.delete-text{
    color:#108EE9;
    margin-right:5px;
}
.delete-text:hover{
    cursor:pointer;
}
