<div class="self-checking">
    <app-self-checking [EntryRecord]="EntryRecord" [disabled]="disabled" [hardnessTime]="hardnessTime"
        [hardnessUser]="hardnessUser" [IfChecking]="IfChecking" [title]="title" [showTime]="showTime" [Hardness0721]="Hardness0721">
    </app-self-checking>
    <!-- [Hardness0721]="Hardness0721" -->
</div>

<div class="after-quality">
    <div class="checking-title">
        <span>热后质检</span>
    </div>
    <app-resume-table [titleList]="afterQualityList" class="delongTable"
        *ngIf="resumeTable?.tableData[0]?.afterQualityCheck">
        <tr *ngFor="let data of resumeTable?.tableData">
            <td>{{ data.afterQualityCheck?.updatedDt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ data.afterQualityCheck?.checkUser?.name }}</td>
            <td>
                <div style="text-align: center;">{{ data.afterQualityCheck?.chemistryCheck | qimResult }}</div>
                <div style="text-align: center;">{{ data.afterQualityCheck?.chemistryCheckTime| date:'yyyy.MM.dd HH:mm:ss'}}
                    {{ data.afterQualityCheck?.chemistryCheckName}}
                </div>
            </td>
            <td>
                <div style="text-align: center;">{{ data.afterQualityCheck?.flawCheck | qimResult }}</div>
                <div style="text-align: center;">{{ data.afterQualityCheck?.flawCheckTime| date:'yyyy.MM.dd HH:mm:ss'}}
                    {{ data.afterQualityCheck?.flawCheckName}}
                </div>
            </td>
            <td>
                <div style="text-align: center;">{{ data.afterQualityCheck?.hardnessCheck | qimResult }}</div>
                <div style="text-align: center;">{{ data.afterQualityCheck?.hardnessCheckTime| date:'yyyy.MM.dd HH:mm:ss'}}
                    {{ data.afterQualityCheck?.hardnessCheckName}}
                </div>
            </td>
            <td>
                <div style="text-align: center;">{{ data.afterQualityCheck?.metalCheck | qimResult }}</div>
                <div style="text-align: center;">{{ data.afterQualityCheck?.metalCheckTime| date:'yyyy.MM.dd HH:mm:ss'}}
                    {{ data.afterQualityCheck?.metalCheckName}}
                </div>
            </td>
            <td>
                <div style="text-align: center;">{{ data.afterQualityCheck?.sizeCheck | qimResult }}</div>
                <div style="text-align: center;">{{ data.afterQualityCheck?.sizeCheckTime| date:'yyyy.MM.dd HH:mm:ss'}}
                    {{ data.afterQualityCheck?.sizeCheckName}}
                </div>
            </td>
            <td>{{ data.afterQualityCheck?.result | qimResult }}</td>
        </tr>
    </app-resume-table>
</div>

<div class="unQualifyDone">
    <div class="checking-title">
        <span>不合格品处理</span>
    </div>
    <app-resume-table [titleList]="unQualifyList" class="delongTable"
                      *ngIf="UnqualifiedProducts[0].checkUser !== null">
        <tr *ngFor="let data of UnqualifiedProducts">
            <td>{{ data?.updatedDt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ data?.checkUser?.name }}</td>
            <td>{{ data?.result | qimResult}}</td>
            <td>{{ data?.remark }}</td>
        </tr>
    </app-resume-table>
</div>

<div class="secondQuality">
    <div class="checking-title">
        <span>二次质检</span>
    </div>
    <app-resume-table [titleList]="secondQualityList" class="delongTable"
                      *ngIf="SecondCheck[0].checkUser !== null">
        <tr *ngFor="let data of SecondCheck">
            <td>{{ data?.updatedDt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ data?.checkUser?.name }}</td>
            <td>{{ data?.chemistryCheck | qimResult }}</td>
            <td>{{ data?.flawCheck | qimResult }}</td>
            <td>{{ data?.hardnessCheck | qimResult }}</td>
            <td>{{ data?.metalCheck | qimResult }}</td>
            <td>{{ data?.sizeCheck | qimResult }}</td>
            <td>{{ data?.result | qimResult }}</td>
        </tr>
    </app-resume-table>
</div>
