.table {
    margin-top: 20px;
    .title {
      color: #000;
    }
  }
  .m-t-10 {
    margin-top: 10px;
  }
  
  .required {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
  }
  