.backgroung0 {
  background: #fff;
  padding: 20px;
  min-height: 650px;
}
.border-b {
  border: 4px double #ccc;
}
.img-a {
  display: block;
  margin: 30px auto;
  border-radius: 50%;
}
.title-head{
    font-size: 25px;
    color: rgba(0,0,0,0.5);
    text-align: center;
}
.title-eng{
    font-size: 18px;
    color: rgba(0,0,0,0.3);
    text-align: center;
    margin-bottom: 50px;
}
