<div class="cooling-frame">
    <div class="cooling-frame-inside">
        <div class="cooling-search-content">
            <div class="cooling-search-up">
                <div class="content">
                    <span class="begin-cooling-time">开始冷却时间：</span>
                    <nz-date-picker [(ngModel)]="SearchParams.date" id="datePicker" (ngModelChange)="search()">
                    </nz-date-picker>
                </div>
                <div class="content">
                    <span>货号：</span>
                    <input nz-input placeholder="请输入货号" (keyup.enter)="search()" [(ngModel)]="SearchParams.freightNo" />
                </div>
                <div class="content">
                    <span>生产号：</span>
                    <input nz-input placeholder="请输入生产号" (keyup.enter)="search()"
                        [(ngModel)]="SearchParams.productNo" />
                </div>
                <div class="content">
                    <span>冷却状态：</span>
                    <nz-select nzPlaceHolder="全部" [(ngModel)]="SearchParams.coolingStatus" id="select"
                        (ngModelChange)="search()">
                        <nz-option *ngFor="let list of coolingStatus" [nzLabel]="list.status" [nzValue]="list.status">
                        </nz-option>
                    </nz-select>
                </div>
                <!-- <button nz-button nzType="primary" style="width: 100px" (click)="search()" id= "search">查询</button> -->
                <button nz-button nzType="primary" (click)="search();pageChange()" id="search">查询</button>
                <!-- <button nz-button nzType="primary" style="width: 180px" routerLink="/normalizingCooling/coolingHistoryRecord">查看正火冷却状态记录</button> -->
                <button nz-button nzType="primary"
                    routerLink="/normalizingCooling/coolingHistoryRecord">查看正火冷却状态记录</button>
            </div>
        </div>
        <app-delong-table [titleList]="titleList" [nzScrollX]="'1114px'" [nzScrollY]="getIframeHeight()"
            (pageChange)="pageChange()">
            <tr *ngFor="let data of delongTable.tableData">
                <td>
                    <div class="css-word table_div_word" [ngStyle]="{'width': 147-tablePadding +'px'}">
                        {{ data.startTime | date:'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                </td>
                <td>
                    <div class="css-word table_div_word" [ngStyle]="{'width': 147-tablePadding +'px'}">
                        {{ data.endTime | date:'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                </td>
                <td>
                    <div class="css-word b table_div_word" [ngStyle]="{'width': 100-tablePadding +'px'}">
                        {{ data.roll.freight.freightNumber }}
                    </div>
                </td>
                <td>
                    <div class="css-word b table_div_word" [ngStyle]="{'width': 60-tablePadding +'px'}">
                        {{ data.roll.productNo }}
                    </div>
                </td>
                <td>
                    <div class="css-word table_div_word" [ngStyle]="{'width': 120-tablePadding +'px'}">
                        {{ data.roll.freight.size }}
                    </div>
                </td>
                <td>
                    <div class="css-word table_div_word" [ngStyle]="{'width': 80-tablePadding +'px'}">
                        {{ data.roll.freight.netWeight }}
                    </div>
                </td>
                <td>
                    <div class="css-word table_div_word" [ngStyle]="{'width': 60-tablePadding +'px'}">
                        {{ data.roll.user.name }}
                    </div>
                </td>
                <td>
                    <div class="css-word table_div_word" [ngStyle]="{'width': 115-tablePadding +'px'}">
                        {{ data.targetTemp }}
                    </div>
                </td>
                <td>
                    <div class="css-word table_div_word" [ngStyle]="{'width': 115-tablePadding +'px'}">
                        {{ data.monitor? data.monitor.temp : ''}}
                    </div>
                </td>
                <td>
                    <div class="status" [ngSwitch]="data.status">
                        <div class="point1" *ngSwitchCase="'NOT_START'"></div>
                        <div class="point2" *ngSwitchCase="'NOT_END'"></div>
                        <div class="point3" *ngSwitchCase="'IN_COOLING'"></div>
                        <div>
                            {{checkStatus(data.status)}}
                        </div>
                    </div>
                </td>
                <td nzWidth="60px" nzRight="0px">
                    <div class="operation">
                        <p (click)="startCooling(data , 0)" *ngIf="!data.monitor">开始</p>
                        <p *ngIf="data.monitor" (click)="startCooling(data , 1)">查看</p>
                    </div>
                </td>
            </tr>
        </app-delong-table>
    </div>
</div>