<div class="container" >
    <div nzType="flex" nz-row nzJustify="space-between">
        <div nz-col>
            <button nz-button nzType="primary" (click)="addRole()">新增角色</button>
        </div>
        <div nz-col>
            <nz-input-group nzSuffixIcon="anticon anticon-search">
                <input (keyup)="keyUpSearch()"  [(ngModel)]="searchText" type="text" nz-input placeholder="输入角色名进行搜索">
            </nz-input-group>
        </div>
    </div>
    <div class="content">
        <!--<div class="batch-delete" nzType="flex" nz-row nzJustify="space-between">-->
            <!--<div nz-col>-->
                <!--<i class="anticon anticon-exclamation-circle" style="color:#108EE9"></i>-->
                <!--&nbsp;-->
                <!--<span>已选择<span style="color:#108EE9">{{checkedNumber}}</span>项</span>-->
            <!--</div>-->
            <!--<div nz-col class="delete-text">-->
                <!--<span>批量删除</span>-->
            <!--</div>-->
        <!--</div>-->
        <app-batch-delete [checkedNumber]="checkedNumber" (batchDelete)="batchDelete()"></app-batch-delete>

        <nz-table #nzTable [nzData]="dataSet"
                  [nzFrontPagination]="false"
                  [(nzPageIndex)]="pageNum"
                  [nzTotal]="tableTotal"
                  [nzShowSizeChanger]="true"
                  [nzPageSizeOptions]="[10,20,30,40]"
                  [(nzPageSize)]="pageSize"
                  (nzPageIndexChange)="InitTable(false);pageChange()"
                  (nzPageSizeChange)="InitTable(false);pageChange()">
            <thead>
            <tr>
                <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                <th>角色名称</th>
                <!-- <th nzWidth="400px">权限</th> -->
                <th nzWidth="400px">备注</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-data [ngForOf]="nzTable.data">
                <tr>
                    <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
                    <td>{{data.name}}</td>
                    <!-- <td nzWidth="400px">{{data.power}}</td> -->
                    <td nzWidth="400px">{{data.remark}}</td>
                    <td>{{data.createdDt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        <a (click)="data.expand=!data.expand">{{data.expand?'取消展开':'查看权限详细信息'}}</a> &nbsp;
                        <a (click)="modifyRole(data.id,data.name,data.name,data.remark,data.accesses)">修改</a> &nbsp;
                        <a (click)="deleteRoles([data.id])">删除</a>
                    </td>
                </tr>
                <tr [nzExpand]="data.expand">
                    <td colspan="5">
                        <app-access-list [accesses]="data.accesses" [accessList]="accessList" [isDisable]="true"></app-access-list>
                    </td>
                </tr>
            </ng-template>
            </tbody>
        </nz-table>

        <!--<div style="margin-top: 20px;">-->
            <!--<nz-pagination style="width:300px;"-->
                           <!--[(nzPageIndex)]="pageNum"-->
                           <!--[nzTotal]="tableTotal"-->
                           <!--nzShowSizeChanger-->
                           <!--[(nzPageSize)]="pageSize"-->
                           <!--(nzPageIndexChange)="InitTable(false)"-->
                           <!--(nzPageSizeChange)="InitTable(false)"></nz-pagination>-->
        <!--</div>-->
    </div>
</div>
