<div class="outside-frame">
    <app-delong-table [titleList]="titleList" class="delongTable" [nzScrollX]="'800px'">
        <tr *ngFor="let data of delongTable.tableData ">
            <td>{{ data.startTime | date:'yyyy-MM-dd'}}</td>
            <td>{{ data.endTime | date:'yyyy-MM-dd'}}</td>
            <td>{{ data.planLinkName}}</td>
            <td>{{ data.productionName }}</td>
            <td>{{ data.craftName}}</td>
            <td>{{ data.userfurnaceName}}</td>
            <td>{{ data.updatedDt | date:'yyyy-MM-dd'}}</td>
        </tr>
    </app-delong-table>
</div>

